body {
  background: #a28b76;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ul li {
  list-style-type: none;
}

img {
  margin: 0;
  border: none;
}

.clear-fix {
  clear: both;
}

/* region begin top */

.top-div {
  background-color: #a28b76;
}

.logo {
  height: 6em;
}

.nav-div {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-right: 1em;
  vertical-align: top;
  position: absolute;
  z-index: 999;
  display: inline-block;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
  right: 5em;
}

.nav-div ul {
  display: inline-block;
}

.nav-div a {
  color: #f2f2f2;
}

.nav-div ul li {
  position: relative;
  padding: 0.5em;
  line-height: 1.3em;
  display: inline-block;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
}

.nav-div ul li div {
  display: none;
}

.nav-div ul li:hover {
  background-color: #6d492f;
}

.nav-div ul li div a:hover {
  background-color: #e4ce8c;
  color: #6d492f;
}

.nav-div ul li:hover div {
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

.nav-div ul li div a {
  display: block;
  text-align: center;
  width: 100%;
  background-color: #6d492f;
  padding: 0.5em 0;
}

/* region end top */

.content-container {
  text-align: center;
  background-color: #f8f4f1;
}

.content {
  text-align: initial;
  display: inline-block;
  width: 70em;
}

.content-title {
  text-align: center;
  font-size: 2em;
  font-family: "宋体", ui-serif, serif;
}

/* region begin banner */

.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.banner .img {
  position: relative;
  font-size: 0;
}

.banner .img li {
  display: inline-block;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
}

.banner .img img {
  width: 100%;
}

.banner .num {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  font-size: 0px;
}

.banner .num li {
  width: 16px;
  height: 16px;
  background-color: #e4ce8c;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
  display: inline-block;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
}

.banner .num li.on {
  background-color: #a47f5f;
}

.banner .btn {
  width: 24px;
  height: 60px;
  background-color: #808080;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  font-size: 1em;
  color: #fff;
  display: none;
}

.banner .btn_l {
  left: 0px;
}

.banner .btn_r {
  right: 0px;
}

.banner:hover .btn {
  display: block;
}

.banner .img img {
  border: none;
}

/* region end banner */

/* region begin part */

.part {
  display: inline-block;
  vertical-align: top;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
}

.part-1 {
  width: 45em;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.part-2 {
  width: 22.6em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.part-3 {
  width: 22em;
}

.part-4 {
  margin: 0 2.1em;
  width: 22em;
}

.part-5 {
  width: 21em;
}

.part-6 {
  width: 100%;
}

.part .part-title {
  margin: 0.3em 0 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #6d492f;
}

.part .part-title .more {
  color: #6d492f;
  font-size: 0.8em;
  float: right;
  margin-top: 0.2em;
}

.part .part-item {
  margin: 0.8em 0;
  padding-bottom: 0.6em;
  border-bottom: 1px dashed #464646;
}

.part .part-item {
  margin: 0.8em 0;
}

.part .part-item a {
  color: #6d492f;
}

.part .part-item a:hover {
  color: #a07453;
}

.part .part-item .item-date {
  color: #6d492f;
  margin-top: 0.1em;
  float: right;
  font-size: 0.8em;
}

.part .news-image {
  float: left;
  height: 12em;
  padding: 1em;
  background-color: #f8f4f1;
}

/* region begin 服务专区 */
.fwzq-content {
  color: #6d492f;
}

.fwzq-content div {
  margin: 1.5em 0.3em 0.3em 0.3em;
}

.fwzq-content span {
  width: 5em;
  padding: 0.2em;
  text-align: center;
  margin: 0.5em 0.55em;
  display: inline-block;
  height: 5em;
  width: 5em;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
}

.fwzq-content img {
  background-color: #a47f5f;
  padding: 0.8em;
  border-radius: 50% 50% 50% 50%;
  height: 2.5em;
  width: 2.5em;
}

.fwzq-content .weixinqr img {
  padding: 0;
  border-radius: 0;
  width: 4.2em;
  height: 4.2em;
}
/* region end 服务专区 */

/* region begin 常用链接 */
.part-cylj {
  margin: 1em 0;
}

.part-cylj a {
  color: #6d492f;
}
/* region end 常用链接 */

/* region end part */

/* region begin footer */

.footer {
  padding: 1em 10em;
}

.footer p {
  margin: 0.8em 0;
  font-size: 0.8em;
  color: #cfcfcf;
}

/* region end footer */

.current-position {
  margin: 0.4em 0;
}

.current-position img {
  vertical-align: middle;
}

.left-nav {
  padding-top: 0.5em;
  margin-right: 2em;
  margin-left: 1em;
  width: 12em;
  vertical-align: top;
  display: inline-block;
  font-size: 1.3em;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
}

.left-nav a {
  display: block;
  font-size: 0.9em;
  text-align: center;
  padding: 0.6em 1em;
  color: #0f0f0f;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.left-nav a:hover {
  color: white;
  background-color: #b69678;
}


.right-content {
  margin: 0 0 0 2em;
  width: 47em;
  min-height: 400px;
  display: inline-block;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
}

.post-content-subtitle {
  text-align: center;
}

.post-content-subtitle > span {
  background: rgb(202, 202, 202);
  padding: 0.2em 1em;
  font-size: 0.9em;
}

.right-content.part .part-item-box {
  width: 100%;
}

.right-content.part .part-item {
  width: 100%;
}

.page-bar {
  text-align: center;
}

.teacher-box {
  display: flex;
  flex-wrap: wrap;
  width: 48em;
}

.teacher-item {
  margin: 1em 1em;
  border: 1px solid #dcdcdc;
  background-color: white;
}

.teacher-image-box {
  text-align: center;
  padding: 0.8em;
}

.teacher-image {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.teacher-name {
  display: block;
  text-align: center;
  padding: 0 0 1em 0;
  color: black;
}

