@font-face {
  font-family: "iconfont"; /* Project id 3990157 */
  src: url('iconfont.woff2?t=1680619639471') format('woff2'),
       url('iconfont.woff?t=1680619639471') format('woff'),
       url('iconfont.ttf?t=1680619639471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi:before {
  content: "\e600";
}

.icon-jiaobiao:before {
  content: "\e6c7";
}

.icon-wenjianguanli:before {
  content: "\e615";
}

.icon-xinwen:before {
  content: "\e685";
}

.icon-_xuesheng:before {
  content: "\e659";
}

.icon-keyanfangxiang:before {
  content: "\e644";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-xuegongxitong:before {
  content: "\e63c";
}

.icon-jiaowuxitong:before {
  content: "\e643";
}

.icon-bangongxitong:before {
  content: "\e621";
}

.icon-renwu:before {
  content: "\e626";
}

.icon-tushuchaxun:before {
  content: "\e630";
}

