@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.ttf?t=1679474416216') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.swiper {
    /* width: 100%; */
    height: 100vh;
}

.banner .swiper img {
    width: 100%;
}

body {
    font-size: 15.19px;
}