.iconfont {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    /* . */
    position: relative;
    height: 100%;
    min-height: 100vh;
}

html {
    overflow: -moz-scrollbars-vertical;
}

:after,
:before {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

html::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: #f5f5f5;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e2e2e2;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
}

a {
    color: inherit;
    outline: 0;
    outline-style: none;
    text-decoration: none;
}

h3,
li,
ul {
    font-weight: 400;
}

nav,
section {
    display: block;
}

img {
    vertical-align: middle;
    outline-style: none;
    margin: 0;
    border: none;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
    padding-inline-start: 0;
}

ul li {
    list-style-type: none;
    vertical-align: top;
}

.banner-swiper,
.news-swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-swiper .swiper-wrapper .swiper-slide,
.news-swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-swiper .swiper-wrapper .swiper-slide img,
.news-swiper .swiper-wrapper .swiper-slide video,
.banner-swiper .swiper-wrapper .swiper-slide img,
.banner-swiper .swiper-wrapper .swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-swiper .swiper-pagination {
    width: 200px !important;
    position: absolute !important;
    right: 1rem !important;
    left: auto !important;
    bottom: 0.5rem !important;
}

.banner-swiper .swiper-pagination span {
    width: 40px;
    height: 5px;
    border-radius: 2px;
    opacity: 1;
    background-color: white;
    box-shadow: 0px 0px 10px #00000049;
    overflow: hidden;
    position: relative;
}

.banner-swiper .swiper-pagination i {
    display: none;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: -1px;
    width: 0;
    background: #2a3d89;
    display: none;
}

.banner-swiper .swiper-pagination .active i {
    display: block;
}

#arrow-svg-home {
    transform: translateY(353px);
}

.button-next #arrow-svg-home {
    transform: translateY(353px) rotateY(180deg);
    transform-origin: 80px 0px 0px;
}

svg {
    transition: 0.5s;
}

.cls-1 {
    transition: 0.5s;
    opacity: 0.4;
    transform-origin: -20px 40px;
    opacity: 1;
}

.cls-4 {
    transition: 0.5s;
    stroke-width: 2px;
    stroke: #fff;
    fill: none;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    opacity: 0.4;
    transform-origin: 0px 0px 0px;
}

#arrow-trg {
    transition: 0.5s;
    fill: #fff;
    transform: rotateY(180deg) translate(-53px, 39px);
}

#line {
    transition: 0.5s;
    stroke: #fff;
    transform: translate(50px, 42px);
}

.button-prev:not(.disabled):hover svg {
    transform: translateX(-25px);
}

.button-next:not(.disabled):hover svg {
    transform: translateX(25px);
}

.button:not(.disabled):hover .cls-1 {
    transform: scale(1.1);
}

.button:not(.disabled):hover .cls-4 {
    stroke-dasharray: 2px;
    stroke-dashoffset: 2px;
    opacity: 1;
}

.button:not(.disabled):hover #arrow-trg {
    transform: rotateY(180deg) translate(-37px, 39px);
}

.button:not(.disabled):hover #line {
    transform: translate(35px, 42px) scaleX(0.33);
}


/* content部分 */

.inmor {
    display: flex;
    line-height: 0.31rem;
    color: #004a98;
    position: absolute;
    right: 0;
    top: 0.15rem;
}

.intit {
    position: relative;
    margin-bottom: 0.4rem;
}

.intit h4 {
    color: #0b3964;
    position: relative;
    border-left: 2px solid #0b3964;
    padding-left: 0.15rem;
    padding-top: 0.24rem;
}

.intit h4 span {
    font-size: 0.36rem;
    font-weight: bold;
    display: block;
    line-height: 1em;
}

.intit h4 em {
    font-size: 0.2rem;
    position: absolute;
    top: 0;
    left: 0.16rem;
}

.noticeAndNewBg {
    background: url(../img/bg2.png) !important;
}

.homea {
    min-height: 2rem;
    background: url(../img/bg2.png) no-repeat center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.7rem 0 1rem;
}

.hoema .flex {
    align-items: normal!important;
}

.news {
    height: 120px!important;
}

.news .news-date {
    width: 0.6rem;
    margin-right: 0.15rem;
    height: 0.27rem;
    border: 1px solid #ccc;
    color: #919191;
    text-align: center;
    font-size: 0.14rem;
    float: left;
    line-height: 0.27rem;
    margin-top: 0.1rem;
    font-family: "Raleway", sans-serif !important;
}

.news h2 {
    display: inline-block;
    width: 90%;
    margin: auto;
    color: #333333;
    line-height: 0.35rem;
    margin-top: 0.05rem;
    font-size: 0.2rem;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news .news-contain {
    margin-top: 0.2rem;
}

.homea .intit a {
    display: block;
    width: 1.55rem;
    height: 0.4rem;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0.15rem;
    line-height: 0.38rem;
    color: #fff;
    text-align: center;
}

.homea .intit a i {
    font-size: 0.18rem;
    margin-left: 5px;
}

.homea .intit a span {
    position: relative;
    z-index: 3;
}

.homea .intit a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: #d20b17;
    transform-origin: right bottom;
    transform: skewX(18deg);
    transition: 0.5s;
}

.homea .intit a:hover:after {
    transform: skewX(12deg);
    background: #043b7a;
}

.homea .aleft {
    width: 66%;
    height: 100%;
    position: relative;
}

.homea .news-swiper {
    height: 500px!important;
}

.homea .aleft img {
    /* height: 500px!important; */
    object-fit: fill!important;
}

.homea .swiper-button-next,
.homea .swiper-button-prev {
    color: #043b7a;
    top: var(--swiper-navigation-top-offset, 40%)!important;
}

.homea .aright {
    width: 31%;
}

.homea .aright ul li:first-child {
    padding-top: 0;
    border-top: 0;
}

.homea .aright ul li {
    border-top: 1px dashed #bbb;
    padding: 0.15rem 0;
}

.homea .aright ul li .pic {
    height: 2.5rem;
    margin-bottom: 0.15rem;
}

.homea .aright ul li .pic img {
    width: 435px;
    height: 250px;
}

.homea .aright ul li .txt h4 {
    font-size: 0.2rem;
    line-height: 1.5em;
    margin-bottom: 0.05rem;
}

.homea .aright ul li .txt time {
    font-size: 0.18rem;
    color: #222;
}

.homeb {
    min-height: 2rem;
    background: url(../img/bg3.jpg) no-repeat center;
    background-size: cover;
}

.homeb-b {
    background-color: rgba(11, 85, 138, 0.85);
}

.homeb .intit h4 {
    color: #fff;
    border-left-color: #fff;
    padding-top: 0;
}

.homeb .intit h4 em {
    position: static;
    display: inline-block;
    margin-left: 0.1rem;
}

.homeb .intit h4 span {
    position: static;
    display: inline-block;
}

.homeb .aleft {
    width: 50%;
    padding: 0.7rem 0.5rem 0.6rem 0;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
}

.homeb a {
    color: #fff;
}

.homeb .aright {
    width: 50%;
    padding: 0.7rem 0 0.6rem 0.5rem;
    color: #fff;
}

.homeb .item a {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homeb .item .pic {
    width: 58%;
    height: 2.3rem;
}

.homeb .item .txt {
    width: 42%;
    padding-left: 0.3rem;
}

.homeb .item .txt h4 {
    font-size: 0.2rem;
    line-height: 1.5em;
    margin-bottom: 0.15rem;
    max-height: 0.9rem\0;
}

.homeb ul {
    margin-top: 0.25rem;
}

.homeb ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0.18rem 0;
}

.homeb ul li time {
    font-size: 0.18rem;
}

.homeb ul li h4 {
    font-size: 0.2rem;
    line-height: 1.5em;
}

.homeb .aright ul li h4 {
    position: relative;
    padding-right: 1rem;
}

.homeb .aleft ul li {
    padding: 0.25rem 0;
}

.homeb .aleft ul li h4 {
    margin-bottom: 0.1rem;
}

.homec {
    /* padding: .8rem .5rem; */
    /* background: url(../img/bg2.png) no-repeat center; */
    background-color: #eeebeb;
    background-size: cover;
}


/* 
.backgroud-color {
    overflow: hidden;
    background-color: rgba(11, 85, 138, 0.6);
    padding: 20px 0 40px 0;
} */

.fadeInUpa,
.fadeInUpb,
.fadeInUpc,
.fadeInUpRighta,
.fadeInUpLefta,
.fadeInUpbb,
.fadeInUpbbb {
    opacity: 0;
}

.homec-c {
    overflow: hidden;
    background-color: rgba(11, 85, 138, 0);
    padding: 40px 0 40px 0;
}

.homec-c .inmor:hover {
    color: #043b7a;
    border-bottom: 1px solid #043b7a;
}

.homec-c ul li {
    width: 31.3333%;
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    margin-bottom: 30px;
}

.homec-c ul li a {
    display: flex;
    padding: 0.3rem;
    justify-content: space-between;
    height: 1.5rem;
    transition: 0.3s;
}

.homec-c ul li .time {
    padding-top: 4px;
}


/* 日期字体 */

.time span,
.time em,
.din {
    font-family: "Raleway", sans-serif !important;
}

.homec-c ul li .time time {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #d20b17;
    background: #fff;
    text-align: center;
    color: #d20b17;
}

.homec-c ul li .time time span {
    display: block;
    background: #d20b17;
    color: #fff;
    height: 0.4rem;
    line-height: 0.34rem;
    font-size: 0.32rem;
}

.homec-c ul li .time time em {
    display: block;
    height: 0.28rem;
    line-height: 0.26rem;
    font-size: 0.15rem;
}

.homec-c ul li .txt {
    width: calc(100% - 0.9rem);
    color: black;
}

.homec-c ul li .txt h4 {
    font-size: 0.16rem;
    line-height: 0.24rem;
    /* font-size: .2rem; */
    /* line-height: 1.5em; */
    max-height: 0.9rem\0;
}

.homec-c ul li:hover a {
    box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.2);
}

.inmor:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.bel {
    font-family: "bel";
}

.din {
    font-family: "din";
}

html {
    font-size: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    font-size: 0.16rem !important;
    font-family: 微软雅黑 !important;
    color: #333;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-color: #095b9a45;
}

h4 {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-weight: normal;
}

ul {
    list-style: none;
}

a {
    color: #333;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

a:hover {
    color: #d23626;
}

img {
    display: block;
    padding: 0;
    border: none;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    max-height: 100%;
}

em,
i {
    font-style: normal;
}

svg:not(:root) {
    overflow: hidden;
}

:focus {
    outline: 0;
}

.check:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.check:not(:checked)+label {
    position: relative;
    display: inline-block;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
    padding-left: 20px;
}

.radio:not(:checked)+label {
    position: relative;
    display: inline-block;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    padding-left: 20px;
}

.radio:not(:checked)+label:after,
.radio:not(:checked)+label:before {
    border: 1px solid #888;
}

.radio:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

::-webkit-input-placeholder {
    color: #999;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

:-ms-input-placeholder {
    color: #999;
}

.flex {
    width: 1400px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-v-center {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-mask .pic {
    overflow: hidden;
}

.bg-mask .pic .a {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: block;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    transform: scale(1.01);
}

.wp {
    margin: 0 auto;
    max-width: 14.4rem;
    width: 100%;
}

.aline_w {
    position: relative;
    background-image: linear-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-position: 0 100%;
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.alin_w:hover .aline_w {
    background-size: 100% 1px;
    color: #fff;
}

.aline_w:hover {
    background-size: 100% 1px;
}

.aline_r {
    position: relative;
    background-image: linear-gradient(#d20b17, #d20b17);
    background-position: 0 100%;
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
}

.alin_r:hover .aline_r {
    background-size: 100% 1px;
    color: #d20b17;
}

.aline_r:hover {
    background-size: 100% 1px;
}

.l2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.l3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.overhide {
    overflow: hidden;
}

.homea .aright ul li {
    position: relative;
    z-index: 2;
}

.homea .aright ul li a {
    position: relative;
    z-index: 3;
    display: block;
}

.homea .aright ul li:after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -0.15rem;
    right: -0.15rem;
    background: #fff;
    z-index: 0;
    content: "";
    box-shadow: 3px 35px 77px -8px rgb(0 0 0 / 90%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.homea .aright ul li:hover:after {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.7);
}

.homea .aright ul li:hover {
    z-index: 5;
}

.homea .aright ul li:first-child:after {
    top: -0.15rem;
}

.homeb .item {
    position: relative;
    z-index: 3;
}

.homeb .item a {
    position: relative;
    z-index: 3;
}

.homeb .item:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -0.15rem;
    background: #fff;
    z-index: 0;
    content: "";
    box-shadow: 3px 35px 77px -8px rgb(0 0 0 / 90%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.9);
}

.homeb .item:hover:after {
    opacity: 1;
    visibility: visible;
}

.homeb .item:hover .txt {
    color: #004a98;
}

.homeb .item:hover .txt span.aline_w {
    color: #004a98;
    background-image: linear-gradient(#004a98, #004a98);
    background-size: 100% 1px;
}

.homeb ul li {
    position: relative;
    z-index: 1;
}

.homeb ul li h4 {
    position: relative;
    z-index: 3;
}

.homeb ul li time {
    position: relative;
    z-index: 3;
}

.homeb ul li:after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -0.15rem;
    right: -0.15rem;
    background: #fff;
    z-index: 0;
    content: "";
    box-shadow: 3px 35px 77px -8px rgb(0 0 0 / 90%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.homeb ul li:hover,
.homeb ul li:hover~li {
    border-top: 1px solid transparent !important;
}

.homeb ul li:hover:after {
    opacity: 1;
    visibility: visible;
    /* backdrop-filter: blur(4px); */
    background-color: rgba(255, 255, 255, 0.9);
}

.homeb ul li:hover {
    z-index: 5;
}

.homeb ul li:hover span.aline_w {
    color: #004a98;
    background-image: linear-gradient(#004a98, #004a98);
    background-size: 100% 1px;
}

.homeb ul li:hover time {
    color: #004a98;
}

.homea .aright ul li .txt {
    display: flex;
    justify-content: space-between;
}

.homea .aright ul li .txt h4 {
    font-size: 0.165rem;
    line-height: 0.24rem;
    margin-bottom: 0;
    width: calc(100% - 1rem);
    /* line-height: .24rem; */
    height: 0.52rem;
    max-height: 0.52rem\0;
}

.homea .aright ul li .txt time {
    font-size: 0.15rem;
}

.homea .aright ul li {
    padding: 0.1rem 0;
}

.homea .aright ul li:last-child {
    border-bottom: 1px dashed #bbb;
}

.homeb .item .txt h4 {
    font-size: 0.165rem;
    line-height: 0.24rem;
    max-height: 0.56rem\0;
}

.homeb .item .txt time {
    font-size: 0.14rem;
}

.homeb ul li h4 {
    font-size: 0.165rem;
    line-height: 0.24rem;
    /* font-size: .18rem; */
    width: calc(100% - 1rem);
    /* line-height: .26rem; */
    height: 0.52rem;
    margin-bottom: 0 !important;
}

.homeb ul li time {
    font-size: 0.14rem;
}

.homeb ul li {
    padding: 0.08rem 0;
    display: flex;
    justify-content: space-between;
}

.homeb .aleft ul li {
    padding: 0.08rem 0;
}

.homeb .aright ul li h4 {
    padding-right: 0;
    margin-bottom: 0.1rem;
}

.homea .pic {
    position: relative;
}

.homea .pic:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 30%;
}

.new {
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}