.header {
    background: none;
}

.header,
.header .show {
    background-color: #2a3d89;
}

.content {
    width: 1400px;
    margin: 180px auto 120px;
}

.content .teacher-img img {
    display: block;
    border-radius: 7px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.content .teacher-img {
    float: left;
    width: 20%;
    font-size: 33px;
    margin-right: 20px;
    margin-left: 120px;
    padding: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.content .teacher-img p {
    display: block;
    font-size: 18px;
    /* padding: 10px; */
}

.content .teacher-img p span {
    font-weight: 400;
}

.content .teacher-img p {
    font-weight: 600;
    font-style: normal;
    /* text-align: center; */
    line-height: 2.3;
    padding: 0px 20px;
    font-family: "nav-font";
}

.content .teacher-img p {
    /* margin-top: 10px; */
    border-bottom: 1px solid #eee;
}

.teacher-introduction {
    float: right;
    width: 70%;
    border: 1px solid #f3f3f3;
    padding: 40px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.teacher-introduction p {
    /* text-indent: 32px !important; */
    font-size: 18px;
    line-height: 1.5;
}