.header {
    background: none;
}

.header,
.header .show {
    background-color: #2a3d89;
}

.content {
    display: flex;
    width: 1400px;
    margin: 180px auto 20px;
}

.content .teacher-img img {
    width: 200px;
    height: 200px;
}

.content .teacher-img {
    width: 200px;
    flex: 1;
    margin-right: 20px;
}

.content .teacher-img p {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.content .teacher-img p:nth-of-type(1) {
    border-bottom: 1px solid #eee;
}

.teacher-introduction {
    flex: 6;
}

.teacher-introduction p {
    text-indent: 32px!important;
    font-size: 16px;
    line-height: 1.5;
}