.header {
    background: none;
}

.header,
.header .show {
    background-color: #21a675;
}


/* 内容页面 */

.content {
    position: relative;
    width: 1400px;
    margin: 180px auto 120px;
    min-height: 400px;
}

.content-li {
    width: 100%;
    min-height: 347px;
    margin-bottom: 50px;
}

.content-li .list-detailed {
    float: left;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}

.content-li h3 {
    position: relative;
    color: #fff;
    font-size: 22px;
    display: block;
    padding: 12px 35px;
    margin-bottom: 50px;
    background-color: #21a675;
}

.content-li h3::before {
    content: "";
    width: 10px;
    height: 30px;
    left: 16px;
    top: 8px;
    position: absolute;
    border-left: 3px solid #fff;
}

.content-li .list-detailed .list-body img {
    width: 220px;
    border-radius: 5px;
    height: 220px;
    object-fit: cover;
}

.content-li .list-detailed .list-body h4 {
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.content-li .list-detailed .list-body:hover h4 {
    color: #21a675;
}

.content-list {
    width: 1300px;
    margin-left: 100px;
}

.current-page a {
    color: #828282;
}

.current-page a:hover {
    color: #006ec7;
}

.list-body {
    border: 1px  solid #e7e7e778;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 5px 4px 8px rgb(0 0 0 / 5%);
}

.list-body h4 {
    font-family: 'nav-font';
}