.header {
    background: none;
}

.header,
.header .show {
    background-color: #2a3d89;
}

/* 搜索结果列表页样式文件 */

.search-content {
    margin-top: 180px !important;
    width: 1400px;
    margin: 1.36rem auto 0;
    /* border: 1px solid red; */
    min-height: 420px;
}

.search-content .search-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
    position: relative;
    /* border: 1px solid blue; */
    /* margin-bottom: 60px; */
}

.search-header .column {
    width: 30px;
    /* border: 1px solid blueviolet; */
    position: absolute;
    left: 25px;
    color: #2a3d89;
    bottom: -90px;
    font-size: 30px;
}

.search-header .column span {
    font-size: 30px;
    line-height: 1.6;
}

.search-header .breadcrumb {
    display: flex;
}

.search-header .breadcrumb .oblique {
    margin: 0 10px;
}

.search-content .search-result {
    /* max-height根据实际情况来，自行修改 */
    /* max-height: 600px; */
    /* 上面这行代码隐藏就不会有滚动条了 */
    overflow-x: hidden;
    width: 1300px;
    overflow-y: auto;
    margin-left: 100px;
    padding: 50px 0;
    padding-top: 10px;
    /* border:1px solid red */
}

.search-content .pagination {
    /* border: 1px solid red; */
    text-align: center;
    margin: 50px auto;
    margin-top: 15px;
}

.search-result li {
    padding: 0 80px;
    padding-left: 0px;
    font-size: 18px;
    border-bottom: 1px solid #eee;
}

.search-result li a {
    /* border-bottom: 1px solid #eee; */
    background: url("../img/index-noice-dian.png") no-repeat 25px center;
    transition: all 0.4s;
    padding: 20px 50px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-result li:hover a {
    background-image: url("../img/index-noice-dianac.png");
    transform: translateX(20px);
}

.search-result li p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
    /* border: 1px solid red; */
}
.pagination-table a:visited {
    font-size: 12px;
    color: #616161;
    text-decoration: none;
    line-height: 14px;
}
.pagination-table .Prev,
.pagination-table .PrevDisabled,
.pagination-table .NextDisabled {
    font-size: 12px;
    display: inline-block;
    /* height: 14px; */
    margin-right: 3px;
    padding: 8px 12px;
    background: #fff;
    color: #ccc;
    margin-right: 10px;
    border: solid 1px #00000012;
    line-height: 14px;
}
.pagination-table a {
    font-size: 12px;
    display: inline-block;
    /* height: 14px; */
    padding: 8px 12px;
    border: solid 1px #00000012;
    /* background: #E1F0FD; */
    color: black;
    margin-right: 10px;
    line-height: 14px;
}
/* 是这样吗页面跳转起来的话怎么做，是前端写的吗 */
.pagination-table .this-page {
    color: white !important;
    font-size: 12px;
    display: inline-block;
    /* height: 14px; */
    padding: 8px 12px;
    border: solid 1px #2a3d89;
    background: #2a3d89;
    font-weight: bold;
    color: black;
    margin-right: 10px;
    line-height: 14px;
}

.pagination-table tr td:first-of-type {
    padding-right: 25px;
    color: #808080 !important;
}

.search-result li:first-of-type {
    border-top: 1px solid #eee;
}

.breadcrumb li a {
    color: #828282;
}

.breadcrumb li a:hover {
    color: #006ec7;
}
.search-result li span {
    font-size: 16px;
    line-height: 18px;
    color: #666;
}

.pagination-table a:hover {
    border: 1px solid #2a3d89;
    background-color: #2a3d89;
    color: white;
}
